

{{#partial "content"}}
   <div class="row">
       <h1 class="jumbotron text-center bg-danger">Heros Squad </h1>
       <div class="col-md-6">

           <h2> </h2>

           <p> Welcome to Hero Squad , Here you can register </p>


           <h3>Register your heros here</h3>

           <form action="/post-hero" method="post">
               <label for="name">Name</label>
               <input type="text" class="form-control" name="name" placeholder="hero's Name">

               <label for="age">Age</label>
               <input type="text" class="form-control" name="age" placeholder="hero's Age">

               <label for="name">Superpowers</label>
               <input type="text" class="form-control" name="superPowers" placeholder="hero's superpowers">

               <label for="name">Weakness</label>
               <input type="text" class="form-control" name="weakness" placeholder="hero's  weakness">

               <button type="submit" class="btn btn-primary">Register</button>

           </form>



           <h3>Set up a hero Squad</h3>

           <h4>Rules</h4>

           <ul>
               <li>A squad has a maximum of 4 superheroes</li>
               <li>A superhero can participate in only one team at  a go </li>
           </ul>

           <form action="/hero-team" method="post">
               <label for="squadName">Squad Name</label>
               <input type="text" class="form-control" name="squadName" placeholder="enter squad name">

               <label for="cause">Squad Members</label>
               <select class="form-control" id="inlineFormCustomSelect">
                   <option selected>Choose...</option>
                   <option value="1">One</option>

               </select>

               <label for="members">Squad Cause</label>
               <select class="form-control" id="inlineFormCustomSelect">
                   <option selected>Choose... Combating</option>
                   <option value="1">Gender Based Crimes</option>
                   <option value="2">Economic Crimes </option>
                   <option value="3">Evil Villans</option>
               </select>

               <button type="submit" class="btn btn-primary">Create Squad</button>
           </form>

       </div>

       <div class="col-md-6">
<!--           DISPLAYING HEROES-->

           {{#if allHeroes}}
               <h4>List of Heroes</h4>
               <ol>
                   {{#each allHeroes}}
                       <h4>Name : {{name}}  </h4>
                       <p>Age {{age}}: </p>
                       <p>Superpowers: {{superPowers}}</p>
                       <p>Weakness:  {{weakness}}</p>
                   {{/each}}
               </ol>
           {{else}}
               <p class="text-danger">No Heroes registered yet </p>
           {{/if}}

<!--           displaying squads-->





       </div>
   </div>

{{/partial}}



{{> master.hbs}}